* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

body {
    background-image: url(image/bg.jpg);
    background-size: cover;
}

.main {
    padding: 2em 0;
    margin: 10em 30em 2em 30em;
    background-color: #333;
    opacity: 0.8;
    text-align: center;
    border-radius: 5px;
}

.main input {
    width: 25em;
    height: 2.5em;
    background-color: #333;
    border-radius: 5px;
    margin-bottom: 10px;
}

.main button {
    width: 6em;
    height: 3em;
    border-radius: 5px;
    border: none;
    background-color: #000;
    color: #FFF;
    font-weight: bold;
    cursor: pointer;
}

.display {
    padding: 2em 0;
    margin: 0 30em;
    background-color: #333;
    opacity: 0.8;
    color: #FFF;
    text-align: center;
    border-radius: 5px;
}